<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mars Scraper</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1>Mission To Mars</h1>
        <p>
          <a class="btn btn-primary btn-lg" href="/scrape" role="button"
            >Scrape New Data!</a
          >
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Latest Mars News:</h2>
        <h3>{{ mars.news_title }}</h3>
        <p>{{ mars.news_desc }}</p>
        <h3>Featured Mars Image</h3>
          <img src="{{mars.feature_image }}" alt="Mars featured image" style="width:500px;height:500px;border:0;"/>
        </p>
      </div>
    </div>
<div class='row'>
      <div class="col-md-12">
        <h3>Mars facts</h3>
        {{ mars.table | safe }}
      </div>
    </div>
      <div class="row">
        <div class="col-md-6">
          <img src="{{ mars.images[0]['img_url']}}" alt="Cerberus Hemisphere" style="width:300px;height:300px;border:0;"/>
          <h3>{{ mars.images[0]['title']}}</h3>
        </div>
        <div class="col-md-6">
          <img
            src="{{mars.images[1]['img_url']}}"
            alt="Schiaparelli Hemisphere Enhanced" style="width:300px;height:300px;border:0;"
          />
          <h3>{{mars.images[1]['title']}}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img
            src="{{mars.images[2]['img_url']}}"
            alt="Syrtis Major Hemisphere Enhanced"
            style="width:300px;height:300px;border:0;"
          />
          <h3>{{mars.images[2]['title']}}</h3>
        </div>
        <div class="col-md-6">
          <img
            src="{{mars.images[3]['img_url']}}"
            alt="Valles Marineris Hemisphere Enhanced"
            style="width:300px;height:300px;border:0;"
          />
          <h3>{{mars.images[3]['title']}}</h3>
        </div>
      </div>
    </div>
  </body>
</html>
